<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div id="app">
    <input type="text" v-model="isi">
    <button v-on:click="tambah"> Tambah </button>
    <ul>
      <li v-for="(kd, index) in nama">
        {{ kd }}
        <button @click='hapus(index)'>Hapus</button>
      </li>
    </ul>
  </div>

<script src="vue.js"></script>
<script>
	new Vue({
  		el: '#app',
  		data: {
    	nama: ['repin', 'dega', 'adif']
  },
  methods: {
    tambah: function () {
      this.nama.push(this.isi)
      this.isi = ''
    },
    hapus(index) {
      this.nama.splice(index, 1)
    }
  }
})

</script>
</body>
</html>